[Unit]
Description=Temp Scanner Service
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/share/thermostat/scan.py
ExecStartPre=/bin/sleep 5
# Provide plenty of time for bluetooth to start
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target

