[Unit]
Description=Run the thermostat script every minute
Wants=time-sync.target
After=time-sync.target

[Timer]
OnBootSec=5min
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target

