[Unit]
Description=Thermostat WebUI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/thermostat/run.sh
Restart=always

[Install]
WantedBy=multi-user.target

