[Unit]
Description=Thermostat WebUI
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/share/thermostat/webio.py
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target

